# Virtual environments
venv/
.venv/
env/

# Environment variables / secrets
.env

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# IDE / Editor settings
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

# FAISS index files (if generated locally)
faiss_index/

# Generated metadata (if you don't want it in Git)
faiss_index_meta.json

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db

*.pdf